.idea/
.ipynb_checkpoints
*/.ipynb_checkpoints/*
__pycache__/
saved/
*/__pycache__/
data/singlecoil_train_5_2_0.1/*
data/singlecoil_validation_5_1_0.1/*
data/singlecoil_test_5_1_0.1/*
data/singlecoil_train_5_2_0.02/*
data/singlecoil_validation_5_1_0.02/*
data/singlecoil_test_5_1_0.02/*
data/singlecoil_train_5_2_0.05/*
data/singlecoil_validation_5_1_0.05/*
data/singlecoil_test_5_1_0.05/*
data/train_dummy/*
data/val_dummy/*
data/test_dummy/*
data/singlecoil_train/
data/singlecoil_val/
data/singlecoil_validation/
data/singlecoil_test/
data/Set12/
data/Set68/
data/train_BSD500/
dummy.py
PnP/Denoisers/*
PnP/Experiments/*